{% extends 'teacher/base.html' %}

{% load static %}

{% block apps %}
  {{ block.super }}
  <script
    src="{% static 'components/js/build/dashboard.min.js' %}"
    defer="true"
  ></script>
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  <div id="dashboard-app"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const dashboardApp = () => {
        return dashboard.h(dashboard.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          urls: {
            assignments: "{% url 'REST:groupassignment-list' %}",
            collections: "{% url 'REST:collection-list' %}",
            questions: "{% url 'REST:question-list' %}",
          },
          user: {
            username: "{{ object.user.saltisemember.name }}",
            avatar: "{{ object.user.saltisemember.picture }}",
          }
        });
      };
      dashboard.render(
        dashboardApp(),
        document.getElementById("dashboard-app")
      );
    });
  </script>
{% endblock %}
