{% extends 'teacher/base.html' %}

{% load static %}

{% block apps %}
  {{ block.super }}
  <script
    src="{% static 'components/js/build/library.min.js' %}"
    defer="true"
  ></script>
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  <div id="library-app"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const libraryApp = () => {
        return library.h(library.App, {
          gettext: gettext,
          logo: "{% static 'components/img/logo.gif' %}",
          nonce: "{{ request.csp_nonce }}",
          urls: {
            assignments: "{% url 'REST:teacher-library-assignment-list' %}?field=owner&field=title&field=answer_count&field=pk&field=question_count&field=is_owner",
            collections: "{% url 'REST:teacher-library-collection-list' %}?field=author&field=description&field=discipline&field=featured&field=follower_count&field=pk&field=title&field=url&field=user",
            group_assignments: "{% url 'REST:groupassignment-list' %}",
            questions: "{% url 'REST:teacher-library-question-list' %}?field=answer_count&field=answerchoice_set&field=category&field=difficulty&field=discipline&field=image&field=image_alt_text&field=peer_impact&field=pk&field=text&field=title&field=user&field=video_url&field=is_owner",
            teacher: "{% url 'REST:teacher' request.user.teacher.pk %}?field=bookmarked_collections&field=favourite_questions&field=assignment_pks&field=user",
          },
          user: {
            username: "{{ request.user.username }}",
          }
        });
      };
      library.render(
        libraryApp(),
        document.getElementById("library-app")
      );
    });
  </script>
{% endblock %}
