{% extends 'teacher/base.html' %}

{% load static %}

{% block apps %}
  {{ block.super }}
  <script
    src="{% static 'components/js/build/updateStudentGroup.min.js' %}"
    defer="true"
  ></script>
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  <div id="group-update-app"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function (){
      const groupUpdateApp = () => {
        return updateStudentGroup.h(updateStudentGroup.App, {
          gettext: gettext,
          nonce : "{{ request.csp_nonce }}",
          group: {
            name: "{{ object.name }}",
            title: "{{ object.title }}",
            semester: "{{ object.semester }}"
            year: "{{ object.year }}",
          },
        });
      };
      updateStudentGroup.render(
        groupUpdateApp(),
        document.getElementById("group-update-app")
      );
    });
  </script>
{% endblock %}
