{% extends 'teacher/base.html' %}

{% load bleach_html static %}

{% block apps %}
  {{ block.super }}
  <script
    src="{% static 'components/js/build/updateAssignment.min.js' %}"
    defer="true"
  ></script>
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  <div id="assignment-update-app"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const assignmentUpdateApp = () => {
        return updateAssignment.h(updateAssignment.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          assignment: {
            conclusion_page: "{{ object.conclusion_pag|default_if_none:''|bleach_html|safe }}",
            description: "{{ object.description|default_if_none:''|bleach_html|safe }}",
            intro_page: "{{ object.intro_page|default_if_none:''|bleach_html|safe }}",
            owner: {{ owner|safe }},
            pk: "{{ object.identifier }}",
            title: "{{ object.title }}",
          },
          editableByUser: {{ editable|yesno:"true,false" }},
          urls: {
            groups: "{% url 'REST:groupassignment-list' %}",
            questions: "{% url 'REST:assignment-detail' object.identifier %}?field=questions",
            teacher: "{% url 'REST:teacher' request.user.teacher.pk %}?field=favourite_questions&field=current_groups",
          },
        });
      };
      updateAssignment.render(
        assignmentUpdateApp(),
        document.getElementById("assignment-update-app")
      );
    });
  </script>
{% endblock %}
