{% extends user.teacher|yesno:'teacher/base.html,student/base.html' %}

{% load i18n %}

{% block body %}
  <div class="mui-container">
    <h1>{% trans 'Terms of Service' %}</h1>

    <div class="m3-question-card">
      <h3>{% trans 'Welcome!' %}</h3>

      <md-divider></md-divider>

      {% if role == "student" %}
        <p class="mui-typography-body2">
          {% blocktrans %}
            Please carefully read our Terms of Service (ToS) and Privacy Policy in the box below, and either accept or decline at the bottom of the page.
            The ToS that follows is an agreement (the "Agreement") between you and the SALTISE research network. By using myDALITE.org, you accept and agree to be legally bound by this Agreement, whether or not you are a registered user. The Privacy Policy describes how your personal data is collected and processed when you use the site.
          {% endblocktrans %}
        </p>
      {% elif role == "teacher" %}
        <p class="mui-typography-body2">
          {% blocktrans %}
            Please carefully read our Terms of Service (ToS) and Privacy Policy in the box below, and either accept or decline at the bottom of the page.

            The ToS that follows is an agreement (the "Agreement") between you and the SALTISE Research network. By using myDALITE.org, you accept and agree to be legally bound by this Agreement, whether or not you are a registered user. The Privacy Policy describes how your personal data is collected and processed when you use the site.
          {% endblocktrans %}
        </p>
      {% endif %}
      <p class="mui-typography-body2">
        {% blocktrans %}
          The SALTISE research network reserves the right to modify these ToS at any time without advance notice. Any changes to these ToS will be effective immediately upon posting on this page, with an updated effective date.
        {% endblocktrans %}
      </p>
      <p class="mui-typography-body2">
        {% blocktrans %}
          Any version of these ToS in a language other than English is provided for convenience and you understand and agree that the English language version will control if there is any conflict.
        {% endblocktrans %}
      </p>

      <div class="mui-typography-body2">
        {{ tos_text|safe }}
        <div>Version: {{ version }} {% if current %}({% trans 'current' %}){% endif %}</div>
      </div>
    </div>

    <form action="{% url 'tos:tos_update' role version %}" method="post">
      {% csrf_token %}

      <input type="hidden" name="redirect_to" value="{{ redirect_to }}">

      <div class="m3-button-container">
        <md-outlined-button name="accepted" value="false" type="submit">
          {% trans 'Refuse terms' %}
        </md-outlined-button>

        <md-filled-button name="accepted" value="true" type="submit">
          {% trans 'Accept terms' %}
        </md-filled-button>
      </div>
    </form>
  </div>
{% endblock %}
