/* Load common sass variables */
@import 'theme';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');

p {
  color: $text;
  font-family: $font;
  font-size: 1rem;
  font-weight: 400;
}
