@import "../custom_elements";

.mdc-list {
  cursor: default;
}

#year .mdc-text-field__input {
  vertical-align: text-bottom;
  width: 60px;
}

.mdc-select__native-control {
  font-size: 14px;
}

#characteristics .mdc-list-item {
  cursor: pointer;
}

#student-list {
  user-select: none;
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.verified_user {
  height: fit-content !important;
  & .mdc-list-item__text > span {
    display: inline-block;
    margin-bottom: 6px;
  }
  & li {
    padding-top: 2px;
  }
}

#collection-select {
  color: $hint;
}

#student-reputation-table {
  & th svg {
    height: 24px;
    width: 24px;
  }
}

.label-for-select {
  padding-right: 10px;
}
