{% extends "peerinst/_base.html" %}

{% load add_class i18n %}

{% block body %}
  <main>
    <section>
      <h1 class="mdc-typography--display3">{% trans 'Login' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Students' %}
        <span class="material-icons">arrow_forward_ios</span>
        <a href="{% url 'student-login' %}">
          <button class="mdc-button mdc-button--raised">
            {% trans 'Login via email' %}
          </button>
        </a>
      </h2>

      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Teachers' %}
        <span class="material-icons">arrow_forward_ios</span>
        {% with next=request.GET.next %}
          <a href="{% url 'saltise:login' %}{% if next %}?next={{ next }}{% endif %}">
            <button class="mdc-button mdc-button--raised">
              {% trans 'Login via SALTISE' %}
            </button>
          </a>
        {% endwith %}
      </h2>
    </section>
  </main>
{% endblock %}
