{% extends "peerinst/base.html" %}

{% load i18n %}

{% block body %}
  <div class="mui-container">
    <h1>{% trans 'Password' %}</h1>

    <div class="m3-question-card">
      <h3>{{ title }}</h3>

      <md-divider></md-divider>

      <p>
        {% blocktrans %}
          For security's sake, first enter your old password.  Then enter your new password twice so we can verify you typed it correctly.
        {% endblocktrans %}
      </p>

      {{ form.non_field_errors }}

      <form method="post" id="password-change-form">
        {% csrf_token %}

        {% for field in form %}
          {{ field.help_text|safe }}
          {{ field.errors }}
          <md-outlined-text-field label="{{ field.field.label }}" type="password" name="{{ field.name }}"></md-outlined-text-field>
        {% endfor %}
      </form>
    </div>

    <div class="m3-button-container">
      <md-filled-button form="password-change-form" type="submit">
        {% trans 'Submit' %}
      </md-filled-button>
    </div>
  </div>
{% endblock %}
