{% extends user.student|yesno:'peerinst/student/base.html,peerinst/base.html' %}

{% load i18n %}

{% block body %}
<main>
  <section>

    <h1 class="mdc-typography--display3">{% trans 'Question Fix' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' teacher.pk %}">{% trans 'Back to My Account' %}</a>
    </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{{ object.title|striptags }}</h2>

    <p class="mdc-typography--body1">
    {{ message }}
    </p>

    {% if flagged %}
    <a class="mdc-button mdc-button--raised" href="{% url 'question-create' %}">
      {% trans 'Create' %}
    </a>
    {% endif %}

    {% if missing_answer_choices %}
    <a class="mdc-button mdc-button--raised" href="{% url 'answer-choice-form' object.pk %}">
      {% trans 'Add answers' %}
    </a>
    {% endif %}

    {% if missing_sample_answers %}
    <a class="mdc-button mdc-button--raised" href="{% url 'sample-answer-form' object.pk %}">
      {% trans 'Add samples' %}
    </a>
    {% endif %}
  </section>
</main>
{% endblock %}
