{% extends 'peerinst/question/start.html' %}

{% load bleach_html i18n %}

{% block answers %}
  {% if question.type == "PI" %}
    <div class="m3-radio-group" role="radiogroup" aria-label="{% trans 'First answer choice' %}">
      {% for label, choice in answer_choices %}
        <div class="m3-radio-label">
          <md-radio
            aria-label="{{ label }}"
            {% if label == first_choice_label %}checked{% endif %}
            disabled
            id="{{ label }}"
            name="first-answer-choice">
          </md-radio>
          <label for="{{ label }}"><strong>{{ label }}</strong>. {{ choice.strip|bleach_html|safe }}</label>
        </div>
      {% endfor %}
    </div>

    {% comment %} <ul id="answer-choices">
      {% for label, choice in answer_choices %}
        <li class="dense-list {% if label == first_choice_label %}first-choice{% endif %}{% if label == second_choice_label %} second-choice{% endif %}">
          <div class='flex-label'>
            {% if first_choice_label and second_choice_label %}
              {% if label == second_choice_label %}
                {% for c in question.answerchoice_set.all %}
                  {% if forloop.counter == forloop.parentloop.counter %}
                    {% if not group_assignment or group_assignment.show_correct_answers %}
                      {% if c.correct %}
                        <i id="check" class="material-icons check-12 grade-icon">check</i>
                      {% else %}
                        <i id="check" class="material-icons check-12 grade-icon">close</i>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
            <div>
              <strong>{{ label }}.</strong> {{ choice.strip|bleach_html|safe }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul> {% endcomment %}

    <div>
      <p>
        {% blocktrans %}
          You answered <strong>{{ first_choice_label }}</strong> and gave this rationale:
        {% endblocktrans %}
      </p>
      <blockquote>{{ rationale.strip|bleach_html|safe }}</blockquote>
    </div>
  {% endif %}

  {% if question.type == "RO" %}
    <div>
      <p>
        {% blocktrans %}
          Your rationale:
        {% endblocktrans %}
      </p>
      <blockquote>{{ rationale.strip|bleach_html|safe }}</blockquote>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}{{ block.super }}{% endblock %}
