{% extends 'peerinst/question/start.html' %}

{% load bleach_html i18n %}

{% block answers %}
  {% if question.type == "PI" %}
    <div class="m3-radio-group" role="radiogroup" aria-label="{% trans 'First answer choice' %}">
      {% for label, choice, correct in answer_choices %}
        <div class="m3-radio-label">
          <md-radio
            aria-label="{{ label }}"
            {% if label == first_choice_label or label == second_choice_label %}checked{% endif %}
            disabled
            id="{{ label }}"
            name="answer-choice-{{ forloop.counter }}">
          </md-radio>
          <label for="{{ label }}">
            <strong>{{ label }}</strong>. {{ choice.strip|bleach_html|safe }}
            {% if second_choice_label %}
              {% if label == first_choice_label or label == second_choice_label %}
                {% if not group_assignment or group_assignment.show_correct_answers %}
                  {% if correct %}
                    <md-assist-chip correct label="{% if label == first_choice_label %}{% trans 'First choice' %}{% else %}{% trans 'Second choice' %}{% endif %}">
                      <md-icon correct filled slot="icon">check_circle</md-icon>
                    </md-assist-chip>
                  {% else %}
                    <md-assist-chip incorrect label="{% if label == first_choice_label %}{% trans 'First choice' %}{% else %}{% trans 'Second choice' %}{% endif %}">
                      <md-icon incorrect filled slot="icon">cancel</md-icon>
                    </md-assist-chip>
                  {% endif %}
                {% endif %}
              {% else %}
                {% if not group_assignment or group_assignment.show_correct_answers and correct %}
                  {% if correct %}
                    <md-assist-chip correct label="{% trans 'Correct' %}">
                      <md-icon correct filled slot="icon">check_circle</md-icon>
                    </md-assist-chip>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </div>

    <div>
      <p>
        {% blocktrans %}
          You answered <strong>{{ first_choice_label }}</strong> and gave this rationale:
        {% endblocktrans %}
      </p>
      <blockquote>
        {{ rationale.strip|bleach_html|safe }}
      </blockquote>
    </div>
  {% endif %}

  {% if question.type == "RO" %}
    <div>
      <p>
        {% blocktrans %}
          Your rationale:
        {% endblocktrans %}
      </p>
      <blockquote>
        {{ rationale.strip|bleach_html|safe }}
      </blockquote>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}{{ block.super }}{% endblock %}
