{% extends 'peerinst/question/review_base.html' %}

{% load bleach_html i18n %}

{% block answers %}
  {{ block.super }}

  {% if question.type == "PI" %}
    <p>
      {% if first_choice_label == second_choice_label %}
        {% if chosen_rationale == None %}
          {% blocktrans %}
            You stuck with your answer choice and rationale.
          {% endblocktrans %}
        {% else %}
          {% blocktrans %}
            You stuck with your answer choice and selected this rationale:
          {% endblocktrans %}
          <blockquote>
            {{ chosen_rationale.rationale.strip|bleach_html|safe }}
          </blockquote>
        {% endif %}
      {% else %}
        {% blocktrans %}
          You then changed your answer to <strong>{{ second_choice_label }}</strong>
          and selected this rationale:
        {% endblocktrans %}
        <blockquote>
          {{ chosen_rationale.rationale.strip|bleach_html|safe }}
        </blockquote>
      {% endif %}
    </p>

    {% if experts %}
      <p>
        {% trans 'Expert rationales' %}:
        {% for expert in experts %}
          {% for option in question.answerchoice_set.all %}
            {% if option.correct and expert.first_answer_choice == forloop.counter %}
              <blockquote>
                {{ expert.rationale.strip|bleach_html|safe }}
              </blockquote>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </p>
    {% endif %}
  {% endif %}
{% endblock %}
