{% extends 'peerinst/teacher/base.html' %}

{% load compress static %}

{% block apps %}
  {% compress js file profile_settings %}
    <script
      src="{% static 'components/js/build/updateProfile.min.js' %}"
      defer="true"
    ></script>
  {% endcompress %}
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  <form method="post">
    {% csrf_token %}
    <div id="profile-settings-app"></div>
  </form>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const profileApp = () => {
        return updateProfile.h(updateProfile.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          disciplineOptions: {{ disciplineOptions|safe }},
          disciplines: {{ disciplines|safe }},
          institutionOptions: {{ institutionOptions|safe }},
          institutions: {{ institutions|safe }},
        })
      };
      updateProfile.render(
        profileApp(),
        document.getElementById("profile-settings-app")
      );
    });
  </script>
{% endblock %}
