{% load compress cookie_consent_tags csp i18n piwik static tz %}

{% get_current_language as LANGUAGE_CODE %}

{% timezone "Canada/Eastern" %}

  <!DOCTYPE html>
  <html lang="{{ LANGUAGE_CODE }}">
    <head>
      <!-- Meta -->
      <title>{% block title %}myDALITE{% endblock %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{% trans 'myDALITE is a free open-source web-based platform that promotes conceptual learning.' %}">
      <meta name="theme-color" content="#004266">

      <!-- Dependencies -->
      <script
        src="https://code.jquery.com/jquery-3.0.0.js"
        integrity="sha384-4s7h2GHjGL3pidmgZNMUflDgyCMrPn1cnW/2NsD1U7SCZcCU5lBzlNhd6QENeuSK"
        crossorigin="anonymous">
      </script>
      <!-- jQuery migration patches (use non-minified for debugging purposes)-->
      <script
        src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"
        integrity="sha384-Pm1fyRwPgIbpBpjdSYtcKzBv+Z/nHekZIGmhoVSBTSJ+cynSJChqUaVhkQZvb7FV"
        crossorigin="anonymous">
      </script>

      <script
        src="https://unpkg.com/browse/@webcomponents/webcomponentsjs@2.6.0/webcomponents-loader.js"
        integrity="sha384-d79el5czCrB9MIVLbOTAsdBPXLKL2FCaAZE2BSHZSSf2zZoB5BWZzpaccglhCblp"
        crossorigin="anonymous"
        type="application/json">
      </script>

      <!-- Local resources -->
      <!-- * Icons -->
      <link href="{% static 'peerinst/img/SALTISE-logo-icon.gif' %}" rel="icon">
      <link href="{% static 'peerinst/img/SALTISE-logo-icon.gif' %}" rel="apple-touch-icon">
      <!-- * Styles -->
      {% block mdc %}
        {% compress css file mdc %}
          <link href="{% static 'peerinst/css/mdc.min.css' %}" rel="stylesheet">
        {% endcompress %}
      {% endblock %}
      {% compress css file main %}
        <link href="{% static 'peerinst/css/main.min.css' %}" rel="stylesheet">
      {% endcompress %}

      <!-- Javascript translations -->
      <script src="{% url 'javascript-catalog' %}"></script>

      <!-- External resources -->
      <!-- * Icons -->
      <!-- ** Preloads -->
      <link
        rel="preload"
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round&display=swap"
        as="style"
      />
      <!-- ** Loads -->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round&display=swap"
        type="text/css"
      />
      <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
      <!-- * Fonts -->
      <!-- ** Preloads -->
      <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap"
        as="style"
      />
      <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap"
        as="style"
      />
      <!-- ** Loads -->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap"
        type="text/css"
      />

      <!-- Cookie consent -->
      {% compress css file cookie_law %}
        <link href="{% static 'peerinst/css/cookie_law.min.css' %}" rel="stylesheet">
      {% endcompress %}

      {% block stylesheets %}{% endblock %}
    </head>

    <body {% block logged_in_layout_class %}{% endblock %} >
      <header id="header">
        <div id="header-left">
          {% block header-left %}{% endblock %}
          <div class="header branding">
            {% if access_lti_standalone or access_standalone %}
              <a href="{% url 'landing_page' %}">
                <img src="{% static 'peerinst/img/SALTISE-favicon.gif' %}"
                  alt="site-logo"
                  id="logo">
              </a>
            {% else %}
              <img src="{% static 'peerinst/img/SALTISE-favicon.gif' %}"
                alt="site-logo"
                id="logo">
            {% endif %}
            {% if not user.student  %}
              <a href="{% url 'browse-database' %}">
                <div id="custom-instance-header">
                  <span class="dalite-my">my</span><span class="dalite-dalite">Dalite</span>
                </div>
              </a>
            {% else %}
              <div id="custom-instance-header">
                <span class="dalite-my">my</span><span class="dalite-dalite">Dalite</span>
              </div>
            {% endif %}
          </div>
        </div>
        <div id="header-right">
          {% block header-right %}{% endblock %}
        </div>
        <div id="header-background"></div>
      </header>

      <div class="site-content">
        <form id="switchLanguage" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.path|slice:'3:'|urlencode }}">
          <input
            name="language"
            type="hidden"
            value="{% if LANGUAGE_CODE == 'en' %}fr{% else %}en{% endif %}"
          >
        </form>
        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
      </div>

      <!-- JS bundle -->
      {% compress js file index %}
        <script src="{% static 'peerinst/js/index.min.js' %}"></script>
      {% endcompress %}

      <script nonce="{{ request.csp_nonce }}">
        window.addEventListener("load", function() {
          if (document.querySelector('.mdc-drawer--temporary')){
            var drawer = new bundle.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-drawer--temporary'));
            document.querySelector('#menu-icon').addEventListener('click', function() {
              drawer.open = true;
            });
          }

          const formSubmit = document.getElementById("submit-language-form");
          if (formSubmit) {
            formSubmit.addEventListener("click", function() {
              document.getElementById("switchLanguage").submit();
            });
          }
        })
      </script>

      {% block scripts %}{% endblock %}

      {% include 'icons.svg' %}

      <script nonce="{{ request.csp_nonce }}" type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>

      {% if request|cookie_consent_enabled %}
        {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

        {% if cookie_groups %}
          {% url "cookie_consent_cookie_group_list" as url_cookies %}
          {% cookie_consent_accept_url cookie_groups as url_accept %}
          {% cookie_consent_decline_url cookie_groups as url_decline %}
          <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            var cookie_groups = [];
            {% for cookie_group in cookie_groups %}
              cookie_groups.push("{{ cookie_group.varname }}");
            {% endfor %}

            window.addEventListener("load", () => {
              showCookieBar({
                content: "{% filter escapejs %}{% with cookie_groups=cookie_groups|join:', ' %}<div id='CookielawBanner' class='cookie-bar'><p>This site uses {{ cookie_groups|lower }} for better performance and user experience. Do you agree to use cookies?</p><div class='button-container'><a id='accept-cookies' class='mdc-button mdc-button--raised cc-cookie-accept' href='{{ url_accept }}'>{% trans 'Accept' %}</a> <a href='{{ url_decline }}' class='mdc-button mdc-button--raised cc-cookie-decline'>{% trans 'Decline' %}</a> <a class='mdc-button mdc-button--raised' href='{{ url_cookies }}?next={{ request.path }}'>Policy</a></div></div>{% endwith %}{% endfilter %}",
                cookie_groups: cookie_groups,
                cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                beforeDeclined: function() {
                  document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                }
              });
            });
          </script>
        {% endif %}
      {% endif %}

      <!-- Matomo analytics -->
      {% if request|cookie_group_declined:"optional" %}
        <script nonce="{{ request.csp_nonce }}">
          var _paq = [];
          _paq.push(['disableCookies']);
        </script>
      {% endif %}
      {% script type="text/javascript" %}
        {% piwik %}
      {% endscript %}
    </body>

  </html>

{% endtimezone %}
