{% extends 'peerinst/base.html' %}

{% load csp static compress i18n %}

{% block stylesheets %}
{{ block.super }}
{% compress js file preact %}
<script src="{% static 'peerinst/js/preact.min.js' %}" defer="true"></script>
{% endcompress %}
{% compress js file search %}
<script src="{% static 'peerinst/js/search_beta.min.js' %}" defer></script>
{% endcompress %}

{% compress css file search %}
<link href="{% static 'peerinst/js/search_beta.min.css' %}" rel="stylesheet">
{% endcompress %}
{% compress css file rmwc %}
<link href="{% static 'peerinst/css/rmwc.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Browse Database' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    {% if request.user.teacher %}
    <div class="admin-link">
      <a href="{% url 'teacher' request.user.teacher.id %}">{% trans 'Go to My Account' %}</a>
      <span class="links-divider">|</span><a href="{% url 'teacher-assignments' request.user.teacher.id %}">{% trans 'Create an assignment' %}</a>
    </div>
    {% endif %}

    <h2 class="mdc-typography--display1  mdc-theme--secondary">{% trans 'Search' %}</h2>

    <div id="search-app"></div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener('load', function() {
    const searchApp = () => {
      return preact.h(
        search_beta.SearchApp, {
          gettext: gettext,
          staticURL: "{{ static_url }}",
          url: "{% url 'question-search-beta' %}",
        });
    }
    preact.render(searchApp(), document.getElementById("search-app"));
  });
</script>
{% endblock %}
