@mixin from($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin to($breakpoint) {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin between($from, $to) {
  @media (min-width: $from) and (max-width: $to - 1px) {
    @content;
  }
}

@mixin cf {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.cf {
  @include cf;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
