// Breakpoints
$break-mobile: 480px;
$break-mobile-xl: 520px;
$break-mobile-xxl: 575px;
$break-tablet-s: 640px;
$break-tablet: 768px;
$break-tablet-xl: 980px;
$break-ipad-pro: 1024px;
$break-desktop: 1100px;


// Colors
$color-white: #fff;
$color-black: #000;

$color-body-bg: #E8F1F8;
$color-body-text: #414141;

$color-gray-lightest: #F4F4F4;

$color-cta-blue: #1976BC;
$color-cta-blue-hover: #0f4771;

$color-cta-red: #ED4528;
