-r ../REST/requirements.in

alt-profanity-check
asgiref
attrs >= 21.3.0 # [3]
better-profanity == 0.6.1 # [1]
bleach
celery[redis]
certifi >= 2023.07.22
channels[daphne] >= 4
channels-redis >= 4
# contextualSpellCheck # [2]
cryptography
django < 3.3, >=3.2.23
django-analytical
django-axes
django-celery-beat
django-compressor
django-cookie-consent
django-csp
django-decorator-include
django-elasticsearch-dsl
django-inlinecss
django-lti-provider
django-minify-html
django-permissions-policy
django-tinymce
djangorestframework
elasticsearch<7.14.0
future>0.18.2
langdetect
pandas
pillow>=10.0.1
pip-lock
pyjwt
pymemcache
PyMySQL
pytz
redis >= 4.3.6
requests >= 2.31.0
scipy >= 1.10.0rc1
sqlparse >= 0.4.4
tldextract

# SALTISE_course_flow == 0.8.22
git+https://github.com/SALTISES4/CourseFlow.git@program-analytics-export
SALTISE_user_feedback
SALTISE_components == 0.2.15

# 1. Temporary pin – See: https://github.com/snguyenthanh/better_profanity/issues/19
# 2. Removed until used – See: peerinst/grammar.py
