-r ../blink/requirements.in
-r ../REST/requirements.in

alt-profanity-check
asgiref == 3.3.4 # [1]
better-profanity == 0.6.1 # [2]
bleach
celery[redis]
# contextualSpellCheck # [3]
django >=3.2, < 3.3
django-analytical
django-axes
django-celery-beat
django-compressor
django-cookie-law
django-csp
django-decorator-include
django-elasticsearch-dsl
django-inlinecss
django-lti-provider
django-minify-html
django-permissions-policy
django-tinymce
djangorestframework
jsonfield # [4]
langdetect
mysqlclient
pandas
pillow
pip-lock
pyjwt
pymemcache
pytz
requests

SALTISE_course_flow == 0.7.5
SALTISE_user_feedback

# 1. Temporary pin – See: https://stackoverflow.com/a/68553668
# 2. Temporary pin – See: https://github.com/snguyenthanh/better_profanity/issues/19
# 3. Removed until used – See: peerinst/grammar.py
# 4. Required by peerinst migration 0041
