-r ../blink/requirements.in
-r ../REST/requirements.in

alt-profanity-check
asgiref
better-profanity == 0.6.1 # [1]
bleach
celery[redis]
# contextualSpellCheck # [2]
django < 3.3, >=3.2.23
django-analytical
django-axes
django-celery-beat
django-compressor
django-cookie-consent
django-csp
django-decorator-include
django-elasticsearch-dsl
django-inlinecss
django-lti-provider
django-minify-html
django-permissions-policy
django-tinymce
djangorestframework
future>0.18.2
langdetect
mysqlclient
pandas
pillow >= 10.1.0
pip-lock
pyjwt
pymemcache
pytz
redis >= 4.3.6
requests >= 2.31.0
scipy >= 1.10.0rc1
sqlparse >= 0.4.4
twisted == 22.4  # [3]
urllib3 >= 1.26.18

SALTISE_course_flow == 0.8.30
SALTISE_user_feedback

# 1. Temporary pin – See: https://github.com/snguyenthanh/better_profanity/issues/19
# 2. Removed until used – See: peerinst/grammar.py
# 3. Temporary pin - see https://github.com/twisted/twisted/issues/11839, requires ignore of vulnerability ID 51619
