{% extends 'teacher/base.html' %}

{% load static %}

{% block apps %}
  {{ block.super }}
  <script
    src="{% static 'components/js/build/createQuestion.min.js' %}"
    defer="true"
  ></script>

  <style nonce="{{ request.csp_nonce }}">
    {% include 'teacher/html_editor_styles.html' %}
  </style>
{% endblock %}

{% block injected_apps %}
  {{ block.super }}
  {% csrf_token %}
  <div id="question-create-app"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const questionCreateApp = () => {
        return createQuestion.h(createQuestion.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          EditorIcons: {
            boldIcon: "{% static 'components/img/editor/bold.svg' %}",
            italicIcon: "{% static 'components/img/editor/italic.svg' %}",
            underIcon: "{% static 'components/img/editor/under.svg' %}",
            undoIcon: "{% static 'components/img/editor/undo.svg' %}",
            redoIcon: "{% static 'components/img/editor/redo.svg' %}",
            subIcon: "{% static 'components/img/editor/sub.svg' %}",
            superIcon: "{% static 'components/img/editor/super.svg' %}",
            linkIcon: "{% static 'components/img/editor/link.svg' %}",
          },
          {% if object %}pk: {{ object.pk }},{% endif %}
          urls: {
            create: "{% url 'REST:teacher-question-create-update-list' %}",
            categories: "{% url 'REST:search-category-list' %}",
            disciplines: "{% url 'REST:discipline-list' %}",
            library: "{% url 'teacher:library' request.user.teacher.pk %}",
            teachers: "{% url 'REST:search-teacher-list' %}"
          }
        });
      };
      createQuestion.render(
        questionCreateApp(),
        document.getElementById("question-create-app")
      );
    });
  </script>
{% endblock %}
